.container .row h3 {
  color: white;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  margin-bottom: 0;
}
.container .row .row-left h3 {
  background: #40d47e;
}
.container .row .row-center h3 {
  background: #ec7e20;
}
.container .row .row-right h3 {
  background: #2ca2ee;
}
.container .row ul {
  list-style: none;
}
.container .row ul li {
  padding-left: 35px;
}
.container .row ul li input[type="checkbox"] {
  margin-right: 5px;
  -webkit-appearance: none;
  /*默认样式没有了*/
  width: 12px;
  height: 12px;
  border: 1px solid #DDDDDD;
  background: -webkit-radial-gradient(circle, #ff5858, #ffa8a8);
}
.container .row #boxbutton {
  text-align: center;
}
.container .row #boxbutton #request {
  border-radius: 10px;
  width: 80px;
  height: 30px;
  border: 0;
  background: #00a8ff;
  color: white;
}
